<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>function-text</title>  
</head>  
<body>  
    <!-- 1. Define some markup -->
    <button data-clipboard-text="USsnIk988Y">Copy</button>

    <!-- 2. Include library -->
    <script src="/static/js/clipboard.min.js"></script>

    <!-- 3. Instantiate clipboard by passing a list of HTML elements -->
    <script>
    var btns = document.querySelectorAll('button');
    var clipboard = new Clipboard(btns);

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
</body>  
</html> 